# files
*.exe
*.a
*.lib
*.dll
*.o

# folder
/build*
lib
log
release
voice_files
Liv2d_SDK
thirdParty/voicevox_core/onnxruntime/**
thirdParty/voicevox_core/c_api/**
thirdParty/voicevox_core/dict/**
thirdParty/voicevox_core/models/**
thirdParty/core/**
thirdParty/Framework
thirdParty/glew
thirdParty/glfw
lib
.history
__pycache__/
*.pyc

# need contain LICENCE/TERMS...
!thirdParty/voicevox_core/c_api/LICENSE
!thirdParty/voicevox_core/onnxruntime/TERMS.txt
!thirdParty/Core/LICENSE.md
!thirdParty/Core/README.md
# test
**test**
.cpcleaner-cache

# docs
docs/.ai
docs/architecture
audit*.md