# files
*.exe
*.a
*.lib
*.dll
*.o

# folder
/build*
lib
log
release
Resources/**
voice_files
thirdParty/voicevox_core/onnxruntime/**
thirdParty/voicevox_core/c_api/**
thirdParty/core/**
thirdParty/Framework
thirdParty/glew
thirdParty/glfw
lib

# need contain LICENCE/TERMS...
!thirdParty/voicevox_core/c_api/LICENSE
!thirdParty/voicevox_core/onnxruntime/TERMS.txt
!thirdParty/Core/LICENSE.md
!thirdParty/Core/README.md
# test
**test**
!Resources/.Resources